{{> header}}

<main class="content" role="main">
  <section class="section section--feature">
    <header>
      <h1 class="title">{{@blog.title}}</h1>
      <p class="intro">{{@blog.description}}</p>
    </header>
  </section>

  <section class="section">

    {{#foreach posts}}

    <article class="post">
        <header class="post__header">
            <span class="post__meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at format="MMMM DD, YYYY"}}</time></span>
            <h1 class="post__title"><a href="{{url}}" class="post__title">{{{title}}}</a></h1>
            <p class="post__author">Written by: {{author}}</p>

        </header>
        <section class="post__excerpt">
            <p>{{excerpt}}&hellip;</p>
            <p><a href="{{url}}"><button class="button radius button--read-more">Read more <i class="fi-play"></i></button></a>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}
  </section>
</main>

{{> footer}}
